{% extends "base.html" %} {% block title %}Frequently Asked Questions{% endblock %} {% block content
    %}
    <h1 align="center">FAQ</h1>

    <p>
      <h2>Q. How much CGPA is required for good placements?</h2>
    </p>
    <p>
      <h3>
        Ans : 8+ is good enough.
      </h3>
    </p>


    <p>
      <h2>Q. How to secure good job?</h2>
    </p>
    <p>
      <h3>
        Ans : By investing your time in the field you like, try core, try coding.
      </h3>
    </p>

    <p>
      <h2>Q. What should one do in the first year?</h2>
    </p>
    <p>
      <h3>
        Ans : Enjoy your life and maintain a decent GPA, it will help in future.
      </h3>
    </p>


    
{% endblock %}